footer{
   background-color: #FFC857;
  
   .footer-container{
      display:flex;
      justify-content: space-between ;
      margin-bottom: 2em;

      .footer-box{
         //border: 1px solid red;
         width: 33%;

         .footer-title{
            font-family: @title-font;
            text-align:center;
            font-size: 2em;
            margin: 1em auto .5em ;
            color: @main-font-color;  //TO MATCH LOGIN - KEEP????????
            //text-shadow: 1px 1px 1px #3f40a1;
            border-bottom: 1px solid @main-font-color;
            width: 35%;
         }

         @media (max-width: 650px){
            width: 100%;
         }
      }
      //CONTACT BLOCK======================================================

      .footer-box.footer-contact{

         .contact-text{
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: @main-font-color;

            span{
               font-weight: 600;
            }
         
            @media @tablet {
               font-size: 1rem;
            }      
         }
      }

       //LOGIN BLOCK======================================================

      .footer-box.footer-login{
         display: flex;
         flex-direction: column;
         align-items: center;

         .login-button{
            display: inline-block;
            .button-style( 5px, .2em, .8em, @main-font-color);
            .a-href-styling( 2rem );
            font-weight: 600;
            margin-top: 1em;
            color: @main-font-color;
            
            @media @tablet{
               .button-style(3px, .1em, .5em, @main-font-color );
               font-size: 1.6rem;
               padding-bottom: .2em;
            }
         }
         @media (max-width: 650px){
            order: 3; 
         }
      }

      //LINKS BLOCK======================================================
      
      .footer-box.footer-links{
         .links{
            width: 50%;  
            font-size: 1.4rem;
            line-height: 2rem;
            margin: 0 auto;
            text-align: center;

            a{
               .a-href-styling(1.4rem);
               color: @main-font-color;

               @media @tablet {
                  font-size: 1rem;
               }
            }
         }
      }
      @media (max-width: 650px){
         flex-direction: column;
         width: 100%;
         align-items: center;
      }

   }//.footer-container

   hr{
      border-color: #FFC8;  
   }
   .copyright{
      text-align: center;
      font-size: 1rem;
      padding: .2em;
      color: @main-font-color;  
   }
}