footer{
   background-color: #FFC857;

   .footer-container{
      display:flex;
      justify-content: space-between ;

      .footer-box{
         border: 1px solid red;
         width: 33%;

         .footer-title{
            font-family: @title-font;
            text-align:center;
            font-size: 2em;
         }
         .login-button{
            display: inline-block;
            .button-style( 5px, .2em, .8em);
            .a-href-styling( 2rem );
            font-weight: 600;
         }
      }
      .footer-box.footer-login{
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }
   hr{
      border-color: #FFC8;  
   }
   .copyright{
      text-align: center;
      font-size: 1.5rem;
      padding: .2em;
   }
}