footer{
   background-color: #FFC857;

   .footer-container{
      display:flex;
      justify-content: space-between ;
      margin-bottom: 2em;

      .footer-box{
         //border: 1px solid red;
         width: 33%;

         .footer-title{
            font-family: @title-font;
            text-align:center;
            font-size: 2em;
            margin: 1em 0 .5em ;
         }
         .login-button{
            display: inline-block;
            .button-style( 5px, .2em, .8em);
            .a-href-styling( 2rem );
            font-weight: 600;
            margin-top: 1em;
         }
      }

      .footer-box.footer-contact{
         .contact-text{
            //border: 2px red solid;
            width: 60%; //MAY NEED TO CHANGE
            padding-left: 5em;
            font-size: 1.4rem;
            line-height: 1.7rem;
            margin: 0 auto;

             //ADJUST WHEN TEXT BECOMES TOO BIG ON DESKTOP
             @media (max-width: 1000px){
               padding-left: .2em;
            }
         }
      }

      .footer-box.footer-login{
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      .footer-box.footer-links{
         .links{
            //border: 2px solid red;
            width: 50%;  //MAY NEED TO CHANGE
            font-size: 1.4rem;
            line-height: 2rem;
            margin: 0 auto;
            text-align: center;

            a{
               .a-href-styling(1.4rem);
            }
         }
      }
   }

   hr{
      border-color: #FFC8;  
   }
   .copyright{
      text-align: center;
      font-size: 1rem;
      padding: .2em;
   }
}