
//COLORS
@main-font-color: #272932;
@body-background-color: whitesmoke;

//FONTS
@title-font: 'Lobster', cursive;
@main-font: 'Jost', sans-serif;


//MOBILE SIZING
//ESCAPED VALUES

/* Future Note:  There are some additional
   media queries in-between these values
   to address some edge cases with
   picture and icon sizing */
@smallDesktop: ~"(max-width: 1250px)";
@tablet: ~"(max-width: 850px)";
@smartphone: ~"(max-width: 550px)";


